{% load static %}
{% comment %}
	Keep this order: shared-overrides intentionally follows the base components.
{% endcomment %}
<link
	rel="stylesheet"
	href="{% static 'style/components/base-components.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/form-layout.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/buttons.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/member-content.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/plans-tables.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/publications.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/notifications.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/shared-overrides.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/navigation.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/auth-layout.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/filters-audit.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/statistics.css' %}?v=20261004-modules"
>
<link
	rel="stylesheet"
	href="{% static 'style/components/home.css' %}?v=20261004-modules"
>
