{% if form.non_field_errors %}
<div class="error-text" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
        {% if field.errors %}<div class="error-text" role="alert">{{ field.errors }}</div>{% endif %}
    {% else %}
    <div class="audit-filter-field form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}<div class="error-text" role="alert">{{ field.errors }}</div>{% endif %}
        {% if field.help_text %}<div class="form-text"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
    </div>
    {% endif %}
{% endfor %}
