{% extends "base.html" %}

{% block content %}

<button><a href="/pdf_planes">Descargar PDF</a></button>

{% for plan in planes %}
<div style="background-color: antiquewhite;">
<h3>Nombre del plan {{plan.nombre}} </h3>
<h4>Descripcion: {{plan.descripcion}}</h4>
<h4>Precio: {{plan.precio_base}}</h4>

<a href="{% url 'editar_plan' plan.id %}" class="btn btn-sm btn-primary">Editar</a>
<a href="{% url 'eliminar_plan' plan.id %}" class="btn btn-sm btn-secondary">Eliminar</a>
</div>
{% endfor %}

{% endblock content %} 