{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded-4 signup-box">
        <h1 class="text-center mb-3">Datos de usuario</h1>

        <form action="/singup/" method="POST">
            {% csrf_token %}
            {{ form }}
            <select name="is_staff" id="">
                <option value="0">No es staff</option>
                <option style="background-color: aquamarine;" value="1">Si es staff</option>
            </select>

            <h2 class="text-center mt-3 mb-3">Datos de la persona</h2>
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    <input type="text" name="name" class="form-control signup-input" placeholder="Nombre" required>
                </div>

                <div class="col-12 col-md-6">
                    <input type="text" name="surname" class="form-control signup-input" placeholder="Apellido" required>
                </div>

                <div class="col-12 col-md-6">
                    <input type="text" name="dni" class="form-control signup-input" placeholder="DNI" required>
                </div>


                <div class="col-12 col-md-6">
                    <input type="date" name="birth_date" class="form-control signup-input" required>
                </div>

                <div class="col-12 col-md-6">
                    <input type="text" name="gender" class="form-control signup-input" placeholder="Género" required>
                </div>

                <div class="col-12 col-md-6">
                    <input type="text" name="phone_number" class="form-control signup-input" placeholder="Teléfono" required>
                </div>

                <div class="col-12 col-md-6">
                    <input type="email" name="email" class="form-control signup-input" placeholder="Email" required>
                </div>

            </div>
            
            <button type="submit" class="btn btn-outline-light w-100 mt-4">Signup</button>
            <h1 class="text-danger text-center mt-3">{{ error }}</h1>
        </form>
    </div>
</div>

{% endblock %}