DJANGO_ENV=DEV
DJANGO_SECRET_KEY=cambiar-por-un-secreto-largo-y-unico
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
