{% extends "base.html" %}

{% block content %}

<div class="signup-box">
    <h1 class="text-center">
        <i class="fas fa-edit"></i> Editar Clase
    </h1>

    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="form-section">
            <h3>
                <i class="fas fa-user-circle"></i> Datos de Clase
            </h3>
            
            {% for field in edit_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="error-text">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                <small class="form-text">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        
        <div class="button-group mt-4">
            <button type="submit" class="btn-outline-light">
                <i class="fas fa-save"></i> Guardar Cambios
            </button>
            <a href="{% url 'list_class' %}" class="btn-secondary-custom">
                <i class="fas fa-arrow-left"></i> Cancelar
            </a>
        </div>
    </form>
</div>

{% endblock content %}