{% extends "base.html" %}

{% block content %}
<div class="container-main">
    <div class="plans-module">
        <div class="module-header">
            <h2>Lista de Clases</h2>
            <p>Gestión de clases disponibles</p>
            <div class="create-plan-section">
                <div style="text-align: left;">
                    <a href="{% url 'create_class' %}" class="btn-create-plan">
                        <i class="fas fa-plus-circle"></i> Crear clase nueva
                    </a>
                </div>
            </div>
        </div>
        <div class="plans-table-container">
            <table class="plans-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Cupos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for course in courses %}
                    <tr>
                        <td data-label="Nombre" class="plan-name-cell">
                            {{ course.name }}
                        </td>
                        <td data-label="Descripción">
                            {{ course.description }}
                        </td>
                        <td data-label="Inicio">
                            {{ course.starts_at|date:"d/m/Y H:i" }}
                        </td>
                        <td data-label="Fin">
                            {{ course.ends_at|date:"d/m/Y H:i" }}
                        </td>
                        <td data-label="Cupos">
                            {{ course.free_spots }}/{{ course.max_capacity }} cupos
                        </td>
                        <td data-label="Acciones" class="plan-actions-cell">
                            {% if course.has_spots %}
                            <a href="{% url 'inscription_question' course.id %}" class="action-btn edit-btn">
                                <i class="fas fa-user-plus"></i> Inscribirse
                            </a>
                            {% endif %}
                            <a href="{% url 'edit_class' course.id %}" class="action-btn edit-btn">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'delete_class' course.id %}" class="action-btn delete-btn">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="empty-row">
                            <i class="fas fa-info-circle"></i> No hay clases para mostrar
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}